.tasks
  display: flex
  flex-direction: column
  gap: 2rem

  &__title
    font-size: 3rem
    font-weight: bold
    color: blue

.list
  display: flex
  flex-direction: column-reverse
  gap: 2rem

  list-style: none

  & > li > p
    font-size: 1.5rem
    font-weight: bold

  &__item
    width: 100%
    display: grid
    grid-template-columns: 1fr
    gap: 1rem

.card
  display: grid
  grid-template-columns: repeat(2, 1fr)
  gap: 1rem
  max-width: 100%
  transition: .3s ease-in-out
  border-radius: 1rem

  &:hover
    transform: scale(1.1)
    border: solid blue 1px

  &__right, &__left
    align-self: center
    justify-self: self-end

    display: flex
    gap: 1rem

  &__left
    justify-self: self-start
    display: flex
    gap: 1rem

  &__input
    border: none
    border-radius: 1rem
    color: black
    padding: .5rem 1rem
    width: 100%
    min-width: 20rem
    background-color: #f8f8f8

  &__input.done
    text-decoration: line-through

  &__radio
    cursor: pointer

  &__btn
    color: white
    font-size: 1.4rem
    padding: .5rem
    cursor: pointer

.purple
  background-color: purple
  border-radius: 1rem
  border: none

.red
  background-color: red
  border-radius: 1rem
  border: none

.focus
  border: green solid 1px

.finished
  text-decoration: line-through