// normalize
@import "normalize"
// fonts
@import url('https://fonts.googleapis.com/css2?family=Madimi+One&display=swap')
$--background--color: #f8f8f8

*
  margin: 0
  padding: 0
  box-sizing: border-box

html, body
  font-size: 10px
  font-family: 'Madimi', sans-serif
  background-color: $--background--color

.container
  max-width: 141rem
  width: 100%
  padding: 0 1.5rem
  margin: 0 auto

.toDo
  &__content
    padding: 5rem
    display: flex
    flex-direction: column
    gap: 1rem
    max-width: 70rem
    width: 100%
    min-width: 30rem
    margin: 0 auto

  &__header
    display: flex
    gap: 1rem

  &__title
    font-size: 3rem
    line-height: 3rem
    font-weight: bold

  &__title-input
    max-width: 40%
    max-height: 3rem

    align-self: center

    border: none

    font-size: 3rem
    font-weight: bold
    line-height: 3rem

    background-color: $--background--color

    cursor: text


.form
  display: grid
  grid-template-columns: 1fr
  gap: 2rem

  &__top
    display: flex
    flex-direction: column
    gap: 1rem

  &__top > input
    width: 100%
    padding: .5rem
    font-size: 1.6rem
    font-weight: 400
    border: #f8f8f8 solid 1px
    border-radius: .5rem

  &__top > input:focus
    border: #3a3af6 solid 1px
    border-radius: .5rem

  &__top > label
    font-size: 1.4rem
    font-weight: 300
    color: black

  &__title
    text-transform: uppercase
    font-size: 2rem


  &__down
    display: grid
    grid-template-columns: repeat(2, 1fr)
    column-gap: 2rem

  &__category
    align-items: center
    background-color: #ffffff
    border-radius: 1rem

    display: flex
    flex-direction: column-reverse
    padding: 3rem
    gap: 1rem


  &__category > label
    font-size: 2rem
    font-weight: 300
    width: 2.5rem
    height: 2.5rem
    cursor: pointer
    border-radius: 50%
    padding: 1px
    margin: 1px

  &__category > input
    width: 2.5rem
    height: 2.5rem
    cursor: pointer
    display: none

.form__radio-title
  color: rgba(0, 0, 0, 0.9)
  font-size: 1.8rem
  font-weight: 500

.btn
  padding: .5rem
  background-color: #3a3af6
  color: $--background--color
  font-size: 2rem
  font-weight: 400

  border-radius: 1rem
  border: none
  box-shadow: 0 1rem 2rem rgba(38, 38, 147, 0.53)
  transition: .3s ease-in-out
  cursor: pointer

  &:active
    transform: translateY(2px)

#business:checked, label[for=business]
  background: #3a3af6
  box-shadow: 0 0 5px #3a3af6
  transition: .4s ease-in-out


#person:checked, label[for=person]
  background: red
  box-shadow: 0 0 5px red
  transition: .4s ease-in-out


#business:not(checked), label[for=business]
  background: white
  box-shadow: 0 0 5px #3a3af6
  transition: .4s ease-in-out


#person:not(checked), label[for=person]
  background: white
  box-shadow: 0 0 5px red
  transition: .4s ease-in-out


/* Стилизация радиокнопок */
input[type="radio"]
  align-self: center
  width: 16px
  height: 16px
  border: 1px solid #ccc
  border-radius: 50%
  appearance: none
  -webkit-appearance: none
  -moz-appearance: none
  outline: none
  transition: .4s ease-in-out


input[type="radio"]:checked
  background: #cccccc
  box-shadow: 0 0 0 2px #fff, 0 0 0 4px #cccccc
  transition: .3s ease-in-out

.person
  background: red !important
  box-shadow: 0 0 0 2px #fff, 0 0 0 4px red !important

.personBox
  box-shadow: 0 0 0 2px #fff, 0 0 0 4px red !important


.business
  background: #3a3af6 !important
  box-shadow: 0 0 0 2px #fff, 0 0 0 4px #3a3af6 !important

.businessBox
  box-shadow: 0 0 0 2px #fff, 0 0 0 4px #3a3af6 !important


input[type="radio"]:focus
  box-shadow: 0 0 0 2px #fff, 0 0 0 4px #3a3af6


@import "list"